:root {
  --font-size: 16px !important;
  --el-font-size-base: 16px !important;
  --el-form-label-font-size-large: 16px !important;
  --el-form-label-font-size: 16px;
  --el-form-item-label-font-size-large: 16px;
}
:deep(.el-form-item--large) {
  --font-size: 16px !important;
  --el-form-label-font-size: 16px !important;
}
.el-form-item--large {
  --font-size: 16px !important;
  --el-form-label-font-size: 16px;
  margin-bottom: 24px;
}
.el-form-item {
  --font-size: 16px;
  margin-bottom: 24px;
}
.el-message-box {
  padding: 0;
}
.el-message-box {
  --el-messagebox-padding-primary: 0 !important;
  --el-messagebox-border-radius: 8px !important;
}
.el-message-box__header {
  /* background-color: #409eff; */
  padding: 12px;
  font-weight: 500;
}
.el-message-box__title {
  padding-bottom: 12px;
  /* color: #fff !important; */
}
.el-message-box__content {
  padding: 24px 0;
}
.el-message-box__btns {
  gap: 12px;
  padding-bottom: 16px;
}
body.no-scroll {
  overflow: hidden;
  transition: overflow 3s;
}
body {
  overflow: hidden;
  font-family: "Noto Sans TC", sans-serif;
  /* overflow-wrap: break-word;
  word-break: break-word; */
}
.wrapper {
  background-color: #fcfcfd;
  box-shadow: 0 0 8px #0000001f;
  padding: 24px;
  border-radius: 16px;
}
.section-heading {
  margin-bottom: 36px;
  margin-top: 32px;
  font-size: 28px;
  font-weight: 500;
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.section-heading::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #409eff;
  border-radius: 50%;
  margin-right: 12px;
  /* margin-right: 8px; */
  /* position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); */
}
.section-title {
  /* border-left: 10px solid #409eff; */
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
.section-title::before {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #409eff;
  border-radius: 8px;
  margin-right: 8px;
}
/* .form-label {
  font-size: 16px;
} */
/* .el-form-item__label {
  font-size: 16px !important;
} */
.pagination-btn {
  margin-top: 48px;
  display: flex;
  justify-content: flex-end;
}
